.visarea {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(222, 184, 135);
}

.bigtitle{
    font-size: 350%;
    text-align: center;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: auto;
    padding-top: 15px;
}
.normaltitle{

    font-size: 200%;
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.intro{
    font-size: 145%;
    text-align: center;
    font-weight: normal;
    color: rgb(41, 35, 35);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.spacepad{
    height: 25px;
}

.choropleth{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}