.visarea {
    width: 1000px;
    margin: auto;
    background-color: rgb(222, 184, 135);
    padding: 20px;
    padding-top: 25px;
}

.bigtitle{
    font-size: 350%;
    text-align: center;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: auto;
    padding-top: 15px;
}
.normaltitle{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 220%;
    text-align: center;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.intro{
    font-size: 155%;
    text-align: center;
    font-weight: normal;
    color: rgba(61, 49, 49, 0.897);
    font-family: 'Poppins', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.spacepad{
    height: 25px;
}

.idioms{
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}