.visarea {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(222, 184, 135);
    padding-left: 10px;
    padding-right: 10px;
}

.bigtitle{
    font-size: 350%;
    text-align: center;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: auto;
    padding-top: 15px;
}
.normaltitle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 220%;
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.intro{
    font-size: 145%;
    text-align: center;
    font-weight: normal;
    color: rgba(61, 49, 49, 0.897);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.spacepad{
    height: 25px;
}

.idioms{
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}